* {
  margin: 0px;
  padding: 0px;
}

body {
  background: lightblue url(style/background.jpeg) fixed no-repeat;
  background-position: center top;
  font-size: 12px;
  font-weight: bold;
  font-family: Liberation Sans;
  line-height: 1.4;
}

li {
  display: block;  
}

.centering {
  padding-left: 50%;
}

.centered{
  width: 900px;
  margin-left: -450px; 
}

/*TOPMENU*/
.panel {
  display: block;
  float: left;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 38px;
  background-image: url(style/twitter_web_sprite_bgs.png);
  
}

.tools > *{
  float: left;
  margin-right: 10px;
}

.leftmenu{
  height: 100%;
}

.rightmenu{
  height: 100%;
}

.leftmenu > li, 
.rightmenu > li{
  display: block;
  float: left;
}

.leftmenu > li > *, 
.rightmenu > li > *{
  margin-top: 13px;
  margin-right: 10px;
}

.leftmenu > li{
  height: 100%;
}

.rightmenu > li{
  height: 26px;
  width: 36px;
}

.leftmenu a, 
.rightmenu a {
  text-decoration: none;
  color: rgb(187,187,187);
  display: block;
  width: 100%;
  height: 100%;
}

.leftmenu a:hover,
.rightmenu a:hover{
  color: white;
}

.leftmenu .pic, 
.rightmenu .pic{
  margin-top: -7px;
}

.current a{
  color: white;
}

/*
.vertical_line {
  display: block;
  float: left;
  width: 5px;
  height: 38px;
  background-color: green;
  background-image: url(style/twitter_web_sprite_icons.png);
  background-position: -239px -50px;
}*/


.search input{
  width: 202px;
  height: 23px;
  background-color:rgb(208, 208, 208);
  color: rgb(68, 68, 68);
  border-radius: 15px; 
  border: none;
  margin-top: 7px;
}

/*CONTENT*/

.content{
  background: rgba(0,0,0,0.5);
  height: 1000px;
  padding: 40px 10px;
  text-decoration: none;
  color: rgb(102,117,127);
  font-family: Helvetica,Arial,sans-serif;
  font-weight: normal;
}

.contentleft > *, .contentright > * {
  border-radius: 5px;
  background-color: rgb(248,248,248);
  margin-top: 10px;
  padding: 10px;
}

/*ЛЕВАЯ ЧАСТЬ*/
.contentleft{
  width: 33%;
  display: block;
  float: left;
}
/*ЛЕВОЕ ВЕРХНЕЕ МЕНЮ*/
.verticalmenu {
   height: 100%;
   font-size: 14px;
   padding: 0px;
}

.verticalmenu li {
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid rgb(192,207,217); 
}

.verticalmenu li:last-child {
  border-bottom: 0px solid rgb(192,207,217);
}

.verticalmenu .chosenli a {
  color: rgb(52,67,77);
  font-weight: bold;
}

.verticalmenu a{
  text-decoration: none;
  color: rgb(102,117,127);
  display: block;
  width: 100%;
  height: 20px;
  padding: 5px;
}

.verticalmenu li:hover {
  background-color: rgb(255,255,255);
}

.verticalmenu li:hover a {
  color: rgb(52,67,77); 
}

.verticalmenu li:last-child:hover, .verticalmenu li:first-child:hover {
  border-radius: 5px;
}

/*КАРТИНКИ*/
.photos {
  height: 185px;
}

.photo {
  height: 48%;
  width: 31%;
  display: block;
  float: left;
  margin: 1%;
  background-size: cover;
  background-position: center center;
}

.photo1 {
  background-image: url(style/photo1.jpg); 
}

.photo2 {
  background-image: url(style/photo2.jpg); 
}

.photo3 {
  background-image: url(style/photo3.jpg); 
}

.photo4 {
  background-image: url(style/photo4.jpg); 
}

.photo5 {
  background-image: url(style/photo5.jpg); 
}

.photo6 {
  background-image: url(style/photo6.jpg); 
}
 /*Близкие по духу*/

.name {
  font-weight: bold;
  color: rgb(52,67,77);
  text-decoration: none;
  font-size: 12px;
}

.nick:hover .name {
  color: rgb(59,136,195);
  text-decoration: underline;
}

button {
  font-weight: bold;
  color: rgb(52,67,77);
  font-family: Helvetica,Arial,sans-serif;
  font-size: 12px;
  padding: 5px;
  border: 1px solid  rgb(225, 232, 237);
  border-radius: 5px;
  background-color: rgb(245, 248, 250);
  background-image: linear-gradient(rgb(255, 255, 255), rgb(245, 248, 250));
}

button:hover {
  background-image: linear-gradient(rgb(245, 248, 250), rgb(215, 222, 227));
}

button:active {
  color: rgb(59,136,195);
  border: 2px solid rgb(59,136,195);
  background-color: rgb(245, 248, 250); 
}

/*ссылки*/
.link {
  text-decoration: none;
  color: rgb(59,136,195);
}

.link:hover {
  text-decoration: underline;
}

.header {
  font-size: 20px;
  font-weight: 200;
}

.links li {
  margin-right: 5px;
}

.link2 {
  text-decoration: none;
  color: rgb(102,117,127);
}

.links li {
 display: inline-block;
}

.links:hover .link2 {
  color: rgb(52,67,77);
}

.link2:hover {
  text-decoration: underline;
}

/*ПРАВАЯ ЧАСТЬ*/

.contentright {
  width: 66%;
  display: block;
  float: right;
}

.main {
  padding: 0;
  border-radius: 6px 6px 5px 5px;
}

.profile {
  color: rgb(255,255,255);
  font-size: 14px;
 /* background-color: rgba(0,0,0,0.3);*/
  background-image: url(style/photo6.jpg);
  height: 200px;
  text-align: center;
  padding: 50px;
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

.profile .header1 {
  font-weight: bold;
  font-size: 24px;
}

.profile .header2 {
  font-size: 20px;
}

.profilepic {
  background-image: url(style/myface.png);
  width: 80px;
  height: 80px;
  border: 5px solid rgb(255,255,255);
  border-radius:8px;
  background-position: center center;
  background-size: cover;
  margin-left:210px;
}

.bottom {
  padding: 10px;
  height: 40px;
}

.bottom a {
  text-decoration: none;
  color: rgb(102,117,127);
  font-size: 10px;
}

.bottom li {
  float: left;
  padding-right: 10%;
}

.bottom li:hover a {
  color: rgb(59,136,195);
}

.bottom .number {
  color: rgb(59,136,195);
  font-size: 20px;
}

.bottom input {
  float: right;
  font-weight: bold;
  color: rgb(102,117,127);
  font-family: Helvetica,Arial,sans-serif;
  font-size: 14px;
  padding: 10px;
  border: 1px solid  rgb(225, 232, 237);
  border-radius: 5px;
  background-color: rgb(245, 248, 250);
  background-image: linear-gradient(rgb(255, 255, 255), rgb(245, 248, 250));
}

.bottom input:hover {
  color: rgb(52,67,77);
  background-image: linear-gradient(rgb(245, 248, 250), rgb(215, 222, 227));
}

.bottom input:active {
  color: rgb(59,136,195);
  border: 2px solid rgb(59,136,195);
  background-color: rgb(245, 248, 250); 
}

/*ТВИТЫ*/
.tweets {
  padding-left: 0;
  padding-right: 0;
}

.tweets .header {
  padding: 10px;
  margin-bottom: 10px;
}

.tweets li {
  border-top: 1px solid rgb(172,197,207);
  width: 100%;
  padding: 10px 0;
}

.tweets li:last-child {
  border-bottom: 1px solid rgb(172,197,207);
}

.tweets li:first-of-type {
  margin-top: 10px;
}

.tweets li:hover {
  background-color: rgb(240,240,255);
}

.tweets li:hover .show {
  color: rgb(59,136,195);
}

.tweets .name {
  font-size: 14px;
}

.tweets .avatar {
   margin: 5px 10px 15px 10px;
}

.tweet {
  color: rgb(52,67,77);
  font-size: 14px;
  padding: 0 10px;
}

.tweets .link {
  color: rgb(102,117,127); 
}

.tweets .link:hover {
  color: rgb(59,136,195);
}

/* ICONS*/
.pic {
  display: block;
  float: left;
  width: 30px;
  height: 26px;
  background-image: url(style/twitter_web_sprite_icons.png);
}

.mainpic {
  background-position: 0 -50px;
}

*:hover > .mainpic{
  background-position: 0 -80px;
}

.onlinepic {
  background-position: -80px -50px;
}

*:hover > .onlinepic {
  background-position: -80px -80px;
}

.you_knowpic {
  background-position: -40px -50px;
}

*:hover > .you_knowpic {
  background-position: -40px -80px;
}

.I_ampic {
  background-position: -120px -110px;
}

.birdpic {
  background-position: -35px 5px;
  margin-top: 5px;
} 

.messagepic {
  background-position: -80px -873px;
}

*:hover > .messagepic {
  background-position: -110px -873px;
}

.gearpic {
  background-position: 143px -48px;
}

*:hover >  .gearpic {
  background-position: 143px -78px;
}

.tweetpic {
  background-image:url(style/twitter_web_sprite_icons.png), url(style/twitter_web_sprite_bgs.png);
  background-position: 105px -47px, 0 -140px;
  border-radius: 3px;
}

*:hover >  .tweetpic{
  background-position: 105px -47px, 0 -170px;
}

.arrowpic {
  float: right;
  height: 14px;
  width: 20px;
  background-position: 0px -140px;
}

*:hover > .arrowpic {
  background-position: 0px -160px;
}

.verticalmenu .chosenli .arrowpic {
  background-position: 0px -160px;
}

 .avatar {
  width: 50px;
  height: 50px;
  border-radius:5px;
  background-position: center center;
  background-size: cover;
  margin-right: 10px;
}

.ava1 {
  background-image: url(style/myface.png);
}

.bluebird {
  float: right;
  background-position: 0 -430px;
  height: 15px;
  width: 17px;
  margin-left: 5px;
}


/*цвет ссылок  color: rgb(59,136,195);*/