body {
  background-image: url(style/background.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: lightblue;
  background-position: center top;  
}

.menu {
  background-color: black;
  background-image: url(style/twitter_web_sprite_bgs.png);
  width: 100%;
  position: fixed;
  height: 40px;
  margin-top: -10px;
  margin-left: -10px;
  padding: 0;
}

.all {
  width: 80%;
  height: 100%;
  background-image: url(wash-black-30.png);
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center top; 
}

.bird {
  width: 40px;
  height: 40px;
  background-image: url(style/twitter_web_sprite_icons.png);
  }