body {
  background-image: url(style/background.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: lightblue;
  background-position: center top;  
  font-size: 12px;
  font-weight: bold;
  font-family: Liberation Sans;
}

.menu a {
  text-decoration: none;
  color: rgb(187,187,187);
}



.menu {
  display: inline-block;
  background-image: url(style/twitter_web_sprite_bgs.png);
  width: 100%;
  position: fixed;
  top: -12px;
  left: 0;
  height: 50px;
}

.bird {
  position: fixed;
  top: 8px;
  left: 455px;
  width: 40px;
  height: 40px;
  background-image: url(style/twitter_web_sprite_icons.png);
  background-position: -40px 0;
} 

li {
  position: relative;
  display: inline-block;
  height: 38px;
  background-color: black;
}

.pic {
  display: inline-block;
  position: relative;
  margin-top: 12px;
  left: 21px;
  top: -3px;
  width: 30px;
  height: 30px;
  background-image: url(style/twitter_web_sprite_icons.png);
  margin-right: 15px;
}

.main > .pic {
  background-position: 0 -50px;
}

.online > .pic {
  background-position: -80px -50px;
}

.you_know > .pic {
  background-position: -40px -50px;
  left: 21px;
  margin-right: 11px;
}

li:hover > a {
  color: white;
}

li:hover .mainpic {
    background-position: 0 -80px;
}

li:hover .onlinepic {
    background-position: -80px -80px;
}

li:hover .you_knowpic {
    background-position: -40px -80px;
}

.I_am > a {
  color: white;
}

.I_am > .pic {
  background-position: -120px -110px;
  left: 20px;
  margin-right: 13px;
}

input{
  position: relative;
  left: 500px;
  top: -35px;
  width: 202px;
  height: 23px;
  background-color:rgb(208, 208, 208);
  color: rgb(68, 68, 68);
  border-radius: 15px; 
  border: none;
}

.left, .right {
  margin-top: 10px;
  border-radius : 5px;
  background-color: white;
}

.left {
  margin-left: 55px;
  width: 300px;
}

.right {
  margin-left: 370px;
  width: 520px;
  margin-top: -1010px;
}

.vertical {
  height: 160px;
  margin-top: 60px;
}


.foto {
  height: 230px;
}

.people {
  height: 240px;
}

.theme {
  height: 240px;
}

.about {
  height: 100px;
}

.info{
  height: 305px;
}

